body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.form-group {
  text-align: center;
}

.form-group button {
  margin: 10px;
}

.form-group input {
  width: 30%;
  margin: auto;
}

.game-container {
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
}

#playAgainButton {
  margin: auto;
}

.game-header {
  text-align: center;
  font-size: x-large;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.game-main {
  padding: 30px 40px;
}
